.cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.cart-empty {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  position: absolute;
  top: 50%;
}

.cart-info {
  width: 100%;
  text-align: center;
}

.cart-items {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* cart-item styling */
.cart-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 10px;
}

.cart-item-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
